doctype html
html(lang="kor")
 head
    title= pageTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='fullcalendar.css')
    link(rel='stylesheet', href="jquery.flipcountdown.css")
    script(src='jquery.min.js')
    script(src='fullcalendar.js')
    script(src='jquery.flipcountdown.js')

 body
   div#sideMenu
   div#mainCal
    block content
